name: CD-Test

on: 
  push:
    branches: [main]

jobs:
  image: 
    runs-on: ubuntu-latest
    steps: 
      - 
        name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}
      - 
      # Private Image Pull
        name: Docker Pull
        run: docker pull mistaholmes/base-image:latest
      -
      # SSH Then Deploy
        # name: Minikube Deploy
        # uses: appleboy/ssh-actions@v0.1.10
        # with:
        #   host: ${{ secrets.MINIKUBE_HOST }}
        #   username: ${{ secrets.MINIKUBE_USER }}
        #   key: ${{ secrets.MINIKUBE_SSH_KEY }}
        #   script: |
        #     kubectl set image deployment/my-app my-container=mistaholmes/base-image:latest
        #     kubectl rollout restart deployment my-app
  testing: 
    runs-on: macos-latest
    steps:
      -
        name: Stage - 1
        uses: actions/checkout@v5
      
      -
        name: Stage - 2 
        run: |
          ls
          echo "Testing Concurrency"
